<!doctype html>
<html class="no-js" lang="">
  <%- include('includes/head'); %>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section id="intro" class="container">
      <div class="row">
        <h1>Projects?</h1>
        <p>Yeah, we got 'em.</p>
      </div>
    </section>
    <%- include('includes/options'); %>
    <div id="loading"><span class="spin"></span></div>
    <section id="projects" class="container">
      <div class="row">
        <%- include('includes/project'); %>
      </div>
    </section>
    <%- include('includes/options'); %>
    <%- include('includes/footer'); %>
  </body>
</html>
